
/* Fonts  */
/* 	https://www.google.com/fonts#UsePlace:use/Collection:Lato */

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');


/* Colours 
	Numu Orange:    #FFC56D
    Numu Teal:      #4CA585
    Pale Yellow:    #FFFCF7
    Middle Gray:    #9F9F9F
    Light Gray:     #BFBFBF
*/


/*  General CSS  */

html {
    font-size: 16px;
    background-color: #FFFCF7
}

/* Landing Page */

section.landing-page {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(top, #FFC56D 0%,#FFC56D 45%, #FFFFFF 100%);
}

section.landing-page img {
    width: 164px;
    height: 100%;
    margin-top: 100%;
    margin-bottom: 50%;
}

section.landing-page .row {
    margin-right: 0;
    margin-left: 0;
}

/* Sign In */

section.sign-in {
    background-color: #FFC56D;
}

section.sign-in p {
    font-family:  Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1.5px;
}

section.sign-in-form {
    background-color: #FFC56D
}

section.sign-in-form a {
    color: #FFFFFF
}

section.sign-in-form .btn-primary {
    background-color: #FFFFFF;
    color: #FFC56D;
    border: none;
}

/* Sign Up */

#logo {
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    bottom: 4px;
}

/*  Header  */

header {
    background-color: #FFC56D;
    height: 75px;
}

header img {
    height: 12px;
}

header .container {
    padding-top: 36px;
    position: relative;
}

.search {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 104%;
    margin-left: -15px;
}

.search img {
    margin-left: 12px;
    margin-bottom: 2px;
}

.search input {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 11px;
    color: #FFC56D;
    margin-bottom: 2px;
    width: 85%;
}

::-webkit-input-placeholder {
    color: #FFC56D;
}

span.back-button {
    font-size: 11px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    color: #FFFCF7;
    font-weight: 500;
    /* padding-top: 6px; */
    padding-left: 9px;
}

/*  Footer  */

footer {
    background-color: #FFC56D;
    height: 50px;
}

footer .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 11px;
}

footer img {
    height: 25px;
    width: auto;
}

/* Body */

body {
    margin-top: 75px;
}

body#landing-page-body {
    margin: 0;
}

/* Categories Section */

section.categories {
    background-color: #FFFCF7;
    padding-top: 40px;
}

section.categories .row {
    margin-right: 25px;
    margin-left: 25px;
}

section.categories .card {
    border: 1.5px solid #4CA585;
    width: 125px;
    height: 125px;
    padding-top: 25px;
    background-color: transparent;
    margin-bottom: 40px;
    border-radius: 8px;
}

section.categories .row.last-row {
    margin-bottom: 50px
}

section.categories .card-body {
    padding: 20px 0 0 0;
}

section.categories .card img {
    height: 40px;
}

section.categories .card p.card-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #4CA585;
}

/* Establishments */

section.establishments {
    background-color: #FFFCF7
}

section.establishments .establishment-card {
    border: 1.5px solid #4CA585;
    width: 290px;
    height: 374px;
    padding: 20px;
    background-color: transparent;
    margin-bottom: 40px;
    border-radius: 8px;
    margin-top: 40px;
}

section.establishments .establishment-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    text-align: center;
}

section.establishments .establishment-card p{
    color: #4CA585;
    margin-bottom: 0;
}

section.establishments .card-body{
    padding-top: 13px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}

p.establishment-card-name {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

p.establishment-card-address {
    font-size: 12px;
    letter-spacing: 2px;
}

p.establishment-card-hours {
    font-size: 10px;
    letter-spacing: 2px;
}

/* Restaurants Page */

header.establishment {
    background-color: #FFFCF7;
    height: 75px;
}

header.establishment #logo img{
    padding-left: 86px;
}

header.establishment span {
    color: #FFC56D;
}

section.establishment-page-primary p {
    margin-bottom: 0;
}

section.establishment-page-primary img {
    object-fit: cover;
}

.establishment-info {
    margin-top: 40px;
}

.establishment-info .establishment-name {
    color: #4CA585;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .75px;
}

.establishment-info .establishment-hours {
    color: #9F9F9F;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
}

.establishment-info .establishment-address {
    color: #BFBFBF;
    font-size: 12px;
    letter-spacing: .5px;
}

.establishment-review {
    color: #FFC56D;
    font-size: 12px;
    letter-spacing: .5px;
}

.establishment-favourite {
    color: #BFBFBF;
    font-size: 12px;
    letter-spacing: .5px;
}

.submitted-images img {
    object-fit: cover;
    border: 2px solid #FFFCF7;
}

/* Space */

section.space {
    margin-top: 90px;
}