
/* Fonts  */
/* 	https://www.google.com/fonts#UsePlace:use/Collection:Lato */

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');



/* Colours 
	Numu Orange:    #FFC56D
    Numu Teal:      #4CA585
    Pale Yellow:    #FFFCF7
    Middle Gray:    #9F9F9F
    Light Gray:     #BFBFBF
*/


/*  General CSS  */

html {
    font-size: 16px;
    /* background-color: #FFFCF7; */
}

/* Landing Page */

section.landing-page {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(top, #FFC56D 0%,#FFC56D 45%, #FFFFFF 100%);
}

section.landing-page img {
    width: 164px;
    height: 100%;
    margin-top: 100%;
    margin-bottom: 50%;
}

section.landing-page .row {
    margin-right: 0;
    margin-left: 0;
}

/* Sign In */

section.sign-in {
    background-color: #FFC56D;
}

section.sign-in .row {
    margin-top: 150px;
}

section.sign-in img {
    height: 44px;
    width: 100%;
    margin-bottom: 5px;
}

section.sign-in p {
    font-family:  'Nunito', 'sans-serif';
    /* font-weight: bold; */
    color: #FFFFFF;
    text-align: center;
    font-size: 21px;
    letter-spacing: 1.5px;
    margin-bottom: 68px;
}

section.sign-in-form .row {
    background-color: #FFC56D;
    padding: 0 25px;
}

section.sign-in-form a {
    color: #FFFFFF
}

section.sign-in-form .btn-primary {
    background-color: #FFFFFF;
    color: #FFC56D;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
}

section.sign-in-form .form-group .numu-form {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    border-radius: 8px;
}

section.sign-in-form input {
    width: 100%;
    font-family: 'Quicksand', 'sans serif';
    font-size: 14px;
    font-weight: bold;
    height: 40px;

}

section.sign-in-form input::placeholder {
    color: #BFBFBF;
    padding-left: 12px;
}

section.sign-in-form p.forgot-password, section.sign-in-form p.no-account {
    font-size: 12px;
}

/* Sign Up */

section.sign-up img {
    height: auto;
    width: 100%;
    padding: 0 85px;
}

section.sign-up .row {
    padding-top: 66px;
    padding-left: 40px;
    padding-right: 40px;
}

section.sign-up p {
    font-family: 'Quicksand', 'sans serif';
    font-weight: bold;
    color: #BFBFBF;
    font-size: 16.85px;
    text-align: center;
    margin-bottom: 0;
}

section.sign-up-form .row {
    padding: 40px;
}

section.sign-up-form input {
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', 'sans serif';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .5px;
}

section.sign-up-form input::placeholder {
    color: #BFBFBF;
    padding-left: 12px;
}

section.sign-up-form .form-group {
    margin-bottom: 10px;
}

section.sign-up-form .form-group, section.sign-up-form input {
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    border-radius: 8px;
}

section.sign-up-form .btn-primary {
    background-color: #FFC56D;
    border: 1px solid #FFC56D;
    border-radius: 8px;
    font-size: 12px;
    font-family: 'Quicksand', 'sans serif';
    font-weight: bold;
    letter-spacing: .5px;
    height: 30px;
}

section.sign-up-form p.terms {
    font-size: 13.25px;
    font-family: 'Quicksand', 'sans serif';
    font-weight: bold;
    color: #BFBFBF;
    padding: 0 40px;
}

section.sign-up-form p.terms a {
    color: #FFC56D;
}

/*  Header  */

header {
    background-color: #FFC56D;
    height: 75px;
}

header img {
    height: 12px;
}

header .container {
    padding-top: 36px;
    position: relative;
}

.search {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 104%;
    margin-left: -15px;
}

.search img {
    margin-left: 12px;
    margin-bottom: 2px;
}

.search input {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 11px;
    color: #FFC56D;
    margin-bottom: 2px;
    width: 85%;
}

::-webkit-input-placeholder {
    color: #FFC56D;
}

span.back-button {
    font-size: 11px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
    color: #FFFCF7;
    font-weight: 500;
    /* padding-top: 6px; */
    padding-left: 9px;
}

/*  Footer  */

footer {
    background-color: #FFC56D;
    height: 50px;
}

footer .container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 11px;
}

footer img {
    height: 25px;
    width: auto;
}

/* Body */

body {
    font-family: 'Nunito', sans-serif;
    margin-top: 75px;
    background-color: #FFFCF7;
}

body#landing-page-body {
    margin: 0;
}

span.orange {
    color: #FFC56D
}

/* Categories Section */

section.categories {
    /* background-color: #FFFCF7; */
    padding-top: 40px;
}

section.categories .row {
    margin-right: 25px;
    margin-left: 25px;
}

section.categories .card {
    border: 1.5px solid #4CA585;
    width: 125px;
    height: 125px;
    padding-top: 25px;
    background-color: transparent;
    margin-bottom: 40px;
    border-radius: 8px;
}

section.categories .row.last-row {
    margin-bottom: 50px
}

section.categories .card-body {
    padding: 20px 0 0 0;
}

section.categories .card img {
    height: 40px;
}

section.categories .card p.card-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #4CA585;
}

/* Establishment List */

/* section.establishments {
    background-color: #FFFCF7
} */

section.establishments .establishment-card {
    border: 1.5px solid #4CA585;
    width: 290px;
    height: 374px;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    margin-top: 40px;
}

section.establishments .establishment-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    text-align: center;
}

section.establishments .establishment-card p{
    color: #4CA585;
    margin-bottom: 0;
}

section.establishments .card-body{
    padding-top: 13px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
}

p.establishment-card-name {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

p.establishment-card-address {
    font-size: 12px;
    letter-spacing: 2px;
}

p.establishment-card-hours {
    font-size: 10px;
    letter-spacing: 2px;
}

/* Establishment Page */

#logo {
    position: absolute;
    left:0;
    right:0;
    margin: 0 auto;
    bottom: 4px;
}

header.establishment {
    background-color: #FFFCF7;
    height: 75px;
}

header.establishment #logo img{
    padding-left: 86px;
}

header.establishment span {
    color: #FFC56D;
}

/* section.establishment-page-primary p {
    margin-bottom: 0;
} */

/* section.establishment-page-primary img {
    object-fit: cover;
} */

.establishment-info {
    margin-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: transparent;
}

.establishment-info p {
    margin-bottom: 0;
}

/* .establishment-extra-info {
    padding-right: 40px;
    padding-left: 40px;
} */

.establishment-info .establishment-name {
    color: #4CA585;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .75px;
}

.establishment-info .establishment-hours {
    color: #9F9F9F;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .5px;
}

.establishment-info .establishment-address {
    color: #BFBFBF;
    font-size: 12px;
    letter-spacing: .5px;
}

.establishment-about .row {
    margin: 0 10px;
}

.establishment-about .row p {
    color: #9F9F9F;
    font-size: 12px;
    font-family: 'Nunito', 'sans serif';
}

span.establishment-review {
    color: #FFC56D;
    font-size: 10px;
    letter-spacing: .5px;
    padding-left: 6px;
}

span.establishment-favourite {
    color: #BFBFBF;
    font-size: 10px;
    letter-spacing: .5px;
}

.submitted-images .col-4.submitted-image {
    padding-left: 0;
    padding-right: 0;
}

.submitted-images img {
    /* object-fit: cover; */
    border: 2px solid #FFFCF7;
}

section.user-reviews img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

section.user-reviews p {
    font-size: 10px;
    color: #9F9F9F;
    margin-bottom: 0;
}

section.user-reviews .row {
    padding: 0 20px;
}

section.user-reviews .col-4 {
    padding-left: 0;
}

section.user-reviews .col-8.user-review{
    margin-left: -50px;
    border: 1px solid #9F9F9F;
    padding-top: 10px;
    border-radius: 8px;
}

/* My Profile */

body.gradient-page {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(top, #FFC56D 0%,#FFC56D 15%, #FFFCF7 35%, #FFFCF7 100%);
}

header.fixed-top.establishment.profile {
    background-color: #FFC56D;
}

header.fixed-top.establishment.profile span{
    color: #FFFCF7;
}

/* Buttons */

.btn.btn-secondary {
    background-color: #FFC56D;
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 12px;
    border: none;
    width: 206px;
    border-radius: 8px;
    letter-spacing: .5px;
    /* height: 25px; */
}
